*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
		
.bs{
    margin: 0px;
    z-index: 2;
    }
.navbar{
    border-radius:0;z-index:102;
    
    }

.navbar-nav a{
    margin-left: 50px;
    font-size: 20px;
    font-weight:200 ;
    padding:0px;
    }
/* .navbar-brand{
        padding:0;
    } */
.navbar-nav a:hover{
    transition-duration: 0.5s;
    background-color: rgb(4, 4, 100);
    height:inherit;
}
body{
    background-color: rgba(206, 245, 250, 0.637);
}
nav{
    background-color: rgba(7, 7, 54, 0.993);
}
#act{
    background-color: white;
    color: black;

}
.but,.button{
    width:200px;
    background-color:#1a5d7eb9;
    color:rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
    border: 0;
    padding: 3px;
}
.but:hover,.button:hover,.buttons:hover{
	background:white;
	color:black;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
    border: 0;
    transition: 0.2s;
}
.text{
    font-size: 20px;
    padding:8px;
    margin:5px;
    width:236px; 
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
}

table{
    margin:10px;
    padding:10px;
    font-size: 20px;
    
}
td{
    text-align: center;
   
    margin-top: 10px; 
    padding:5px;
}
.t{
	width:50px;
	font-size:15px;
    padding:5px;
    border:solid 1px;
    color:black;
    border-radius: 5px;
    text-align: center;
    margin:5px
}


/* just trying */
.out{
    display: flex;
    justify-content: space-around;
}
#res{
    margin:auto;
    width:auto;
    font-size: 20px;
}