*{
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
		
.bs{
    margin: 0px;
    z-index: 2;
    }
.navbar{
    border-radius:0;z-index:200;
    }

.navbar-nav a{
    margin-left: 50px;
    font-size: 20px;
    font-weight:200 ;
    padding:0px;
    }
.navbar-brand{
        padding:0;
    }
.navbar-nav a:hover{
    transition-duration: 0.5s;
    background-color: rgb(4, 4, 100);
    height:inherit;
}
body{
    background-color: rgba(206, 245, 250, 0.637);
}
nav{
    background-color: rgba(7, 7, 54, 0.993);
}
#act{
    background-color: white;
    color: black;

}
.button{
    width:200px;
    background-color: rgb(162, 223, 231);
    color:rgb(63, 36, 2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.but:hover,.button:hover,.buttons:hover{
	background:white;
	color:black;
    border:2px solid black;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
}
.text{
    font-size: 20px;
    padding:8px;
    margin:5px;
    width:230px; 
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
}
