*{
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
body{
    background: rgba(238, 214, 173, 0.562);
}
header{
    background:blueviolet;
    height:80px;min-width: 1397px;
    text-align:left;
}
h1{
    font-family: Arial, Helvetica, sans-serif ;
}

/* }
.but,.button{
    width:100%;
    height:40px;
    font-size: 20px;
    background:rgb(231, 218, 27);
    border:none;
    border-radius: 10px;
    margin:6px;
} */
.button{
    width:200px;
    background-color: rgb(162, 223, 231);
    color:rgb(63, 36, 2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.but:hover,.button:hover,.buttons:hover{
	background:white;
	color:black;
    border:2px solid black;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
}
.ans{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.text{
    font-size: 20px;
    padding:8px;
    margin:5px;
    width:230px; 
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.19);
}
.t{
	width:50px;
	font-size:15px;
    padding:5px;
    border:solid 1px;
    color:black;
    border-radius: 5px;
    text-align: center;
    margin:5px
}